@charset "utf-8";
a {
    text-decoration: none;
}
    a:link, a:visited {
        color:#6699cc;
    }
    a:hover, a:active {
         background-color:#6699cc;
         color:#fff;
}
.mainHeader img {
	width: auto;
	height: auto;
	margin: 1% 0;
}

.mainHeader nav {
	background-color: #FB7FB2;
	color: #6699cc;
	height: 40px;
	border-radius: 8px;
	-moz-border-radius: 8 px;
	-webkit-border-radius: 8px;
}

    .mainHeader nav ul {
	list-style: none;
	margin: auto;
    }
	
    .mainHeader nav ul li {
            display:inline;
            float:left;
			position:relative;
        }
	.main Header nav ul ul {
		position:absolute;
		display:none;
		}
.mainHeader nav ul ul li  {
	background-color: #CC0000;
}

    .mainHeader nav a:link, .mainHeader nav a:visited {
        color:#fff;
        display:inline-block;
        padding:10px 30px;
        height:20px;
    }

    .mainHeader nav a:hover, .mainHeader nav a:active,
    .mainHeader .active a:link, .mainHeader .active a:visited {
	background-color: #5484D0;
	text-shadow: none;
    }

 .mainHeader nav ul li a {
        border-radius:0px;
         -moz-border-radius:0px;
         -webkit-border-radius:0px;
    }

.body footer{
	background-color: #FFF;
	height: 80px;
	width: 100%;
}
.body footer copyright {
	padding-top: 20px;
	padding-left: 50px;
	text-align: center;
}
.body footer img {
	float: right;
	padding-right: 20px;
	height: 50px;
}







/*Simple reset*/
* {margin: 0; padding: 0;}

body {
	/*You can use any kind of background here.*/

	background-color: #036;
}
canvas {
	display: block;
	width: 100%;	
	background: url(../images/Home_Page_Graphic.png) no-repeat;
}

#containingDiv { 
  overflow: hidden;
}
#myCanvas {
  position: absolute; 
  top: 0px;
  left: 0px;
} 